# Binaries and compiled code
node_modules/
dist/app.js

# This folder holds the client side application (React etc)
client/

# Environment variables for development
.env

# Google app engine files
app.yaml
.gcloudignore
cloudbuild.json

# IDE files
.idea/

# macos files
.DS_Store

# Firebase api key
local-credentials.json
dev-server-credentials.json
